* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: #ECECEC;
    color: #030117;
    font-family: Georgia;
}
.container { 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;;
    grid-template-rows: repeat (12, 20%); 
    padding: 5px;
}

.cabecalho {
    display: grid;
    text-align: center;
}

#box1 {
    display: grid;
    grid-column: 1/1;
    align-items: center;
    background-color: #ECECEC;
    width: 200px;
    height: 200px;
    border: 9px solid #030117;
}

#HaterEvil_box {
    display: grid;
    grid-column: 2/2;
    grid-row: 1/1 ;
    text-align: center;
    align-items: center;
    background-color: #48AD36;
    width: 200px;
    height: 200px;
    border: 9px solid #000000;
}

#Kira_box {
    display: grid;
    grid-column: 3/3;
    text-align: center;
    align-items: center;
    background-color: #C52525;
    width: 200px;
    height: 200px;
    border: 9px solid #000000;
    border-radius: 88px;
}
#Maybe_box {
    display: grid;
    grid-column: 4/4;
    text-align: center;
    align-items: center;
    background-color: #8428B9;
    width: 200px;
    height: 200px;
    border: 9px solid #FCFEE8;
    border-radius: 20px;
}
#Hater_box {
    display: grid;
    grid-column: 5/5;
    text-align: center;
    align-items: center;
    background-color: #82DBF9;
    width: 200px;
    height: 200px;
    border: 9px solid #FCFEE8;
}

img {
    width: 160px; height: 160px;
   }