* {
    margin: 5px;
    padding: 0px;
}

body {
    background-color: #131313;
    color:#FCFEE8;
}
 
.cabecalho {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 5px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Box  {
    width: 200px;
    height: 200px;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    margin: 44px;
}

#HaterEvil_box {
    background-color: #48AD36;
    width: 200px;
    height: 200px;
    border: 9px solid #000000;
}

#Kira_box {
    background-color: #C52525;
    width: 200px;
    height: 200px;
    border: 9px solid #000000;
    border-radius: 88px;
}
#Maybe_box {
    background-color: #8428B9;
    width: 200px;
    height: 200px;
    border: 9px solid #FCFEE8;
    border-radius: 20px;
}
#Hater_box {
    background-color: #82DBF9;
    width: 200px;
    height: 200px;
    border: 9px solid #FCFEE8;
}
img {
 width: 130px; height: 130px;
}